body {
    background-color: rgb(148, 210, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.text-center {
    color: rgb(0, 0, 0);
}

.diary-list {
    list-style: none;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 32px;
    border: 1px solid rgb(0, 0, 0);
}

.diary-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-bottom: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    max-width: 600px;
    gap: 10px;
}

.delete-rename-buttons {
    display: flex;
    gap: 10px;
}

.create-button {
    display: flex;    
    justify-content: center;
    margin-top: 20px;
    gap: 15px
}

.logout-button {
    display: flex;    
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

.sort-dropdown {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    border: 1px solid #ccc !important;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
}