body {
    background-color: rgb(212, 246, 255);
}

.text-center {
    color: rgb(0, 0, 0);
}
.diary-list {
    list-style: none;
    padding: 0;
}

.diary-list li {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10px;
    width: 100%;
}

.diary-button {
    flex-grow: 1; 
    text-align: left; 
}

.dots-button {
    margin-left: 10px;
}
