/*This is the CSS document for the diaryListComponent.tsx file.*/

/*Since the body element is used, it sets all the elements of the entire app to be placed in the middle. Also changes the background color to light blue for all of the pages.*/
body {
    background-color: rgb(148, 210, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*The title "List of your Diaries"*/
.text-center {
    color: rgb(0, 0, 0);
}

/*The list with diaries*/
.diary-list {
    list-style: none;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 32px;
    border: 1px solid rgb(0, 0, 0);
}

/*The elements of the diary list*/ 
.diary-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-bottom: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    gap: 10px;
}

/*Rename and delete buttons located next to each diary object in the list*/
.delete-rename-buttons {
    display: flex;
    gap: 10px;
}

/*The create diary button*/
.create-button {
    display: flex;    
    justify-content: center;
    margin-top: 20px;
    gap: 15px
}

/*The logout button*/
.logout-button {
    display: flex;    
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

/*The sorting dropdown menu*/
.dropdown-toggle {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
}